@model ResetPasswordViewModel

@{
    ViewData["Title"] = "Forgot password";
}

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h2 class="heading">@ViewData["Title"]</h2>
        <hr />

        <form asp-action="ForgotPassword" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group form-field email-icon">
                <input asp-for="Email"
                       class="form-control"
                       placeholder="Email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <button type="submit" 
                    class="btn 
                           btn-default 
                           hvr-back-pulse">
                Submit
            </button>
        </form>
    </div>
</div>


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
