@model ChangePasswordViewModel

@{
    ViewData["Title"] = "Change password";
    ViewData.AddActivePage(ManageNavPages.ChangePassword);
}

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <section>
            <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                <h2 class="heading">@ViewData["Title"]</h2>
                <hr />

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group form-field password-icon">
                    <input asp-for="OldPassword"
                           class="form-control"
                           placeholder="Old Password" />
                    <span asp-validation-for="OldPassword" class="text-danger"></span>
                </div>

                <div class="form-group form-field password-icon">
                    <input asp-for="NewPassword"
                           class="form-control"
                           placeholder="New Password" />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>

                <div class="form-group form-field password-icon">
                    <input asp-for="ConfirmPassword"
                           class="form-control"
                           placeholder="Re-type New Password" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <button type="submit" 
                            class="btn btn-default hvr-back-pulse col-md-5">
                        Submit
                    </button>
                </div>

                <a asp-controller="Manage" asp-action="Profile"
                   class="btn
                          btn-default
                          hvr-red
                          hvr-back-pulse
                          col-md-5
                          col-md-offset-2">
                    Cancel
                </a>

            </form>
        </section>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}