@*@model SearchViewModel<PaginatedViewModel<SongListingViewModel>>*@
@model IEnumerable<SongListingViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="jumbotron">
                <h3 class="heading">Lastly Added Songs</h3>
                <hr />

                <partial name="~/Views/Songs/_SongListing.cshtml"
                         model="Model" />
            </div>
        </div>
    </div>
</div>

@*<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    $('.pagination').remove();
</script>*@

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}