@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body {
    padding-top: 80px;
    padding-bottom: 20px;
    background-color: #fbfbfb;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.heading {
    margin-bottom: 15px;
}

div.form-group,
input.form-control {
    font-size: 15px;
}

form div.form-group input.form-control {
    padding-left: 50px;
    border: 1px solid #cfcfcf;
    outline: none;
    background-color: #F0F0F0;
    color: black;
    font-weight: bold;
}

/*form div input.form-control { 
    border-radius: 5px;
    border: none;
    border: 1px solid #cfcfcf;
    padding: 10px 20px;
    margin-bottom: 15px;
    outline: none;
}

.form-group label {
    margin-bottom: 10px;
}*/

hr {
    border-top: 3px solid #eee;
}

.heading {
    font-weight: bold;
}

.field-validation-error {
    display: block;
    width: 100%;
    margin: 2px 0px;
    border: 1px solid #ffcacd;
    background-color: #ffeeef;
    padding: 5px 10px;
    padding-left: 15px;
    color: #000000;
    border-radius: 4px;
}

form .btn {
    font-size: 15px;
    padding: 10px 50px;
    background-color: #F0F0F0;
    border: 1px solid #D0D0D0;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
    box-shadow: 3px 3px 5px #f0f0f0;
    outline: none !important;
}

body nav.navbar {
    background-color: white;
    box-shadow: 0px 2px 30px -7px rgba(0, 0, 0, 0.75);
    border: 0;
}

body a.brand {
    height: 55px;
    padding: 5px 0px;
    margin-right: 35px;
    user-select: none;
}

    body a.brand:hover {
        pointer-events: none;
    }

a .logo {
    max-height: 100%;
}

    a .logo:hover {
        opacity: 0.7;
        pointer-events: auto;
        cursor: pointer;
    }

body div.navbar-header:hover {
    pointer-events: none;
}

.navbar-inverse .navbar-nav > li > a {
    color: black;
    text-transform: uppercase;
}

ul.navbar-nav {
    margin-top: 2px;
    font-weight: bold;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: #00b4c7;
}

div.form-field {
    position: relative;
}

div.form-field::before {
    font-family: "FontAwesome";
    content: '@';
    color: #7e7e7e;
    font-size: 23px;
    position: absolute;
    left: 15px;
    top: 1px;
}

    div.form-field.email-icon::before {
        content: "\f0e0";
    }

    div.form-field.universal-icon::before {
        content: "\f192";
    }

    div.form-field.genre-icon::before {
        font-weight: bold;
        content: "\f224";
    }

    div.form-field.user-icon::before {
        content: "\f007";
    }

    div.form-field.password-icon::before {
        content: "\f023";
    }

    div.form-field.birthday-icon::before {
        content: "\f073";
    }

input.form-control::-webkit-input-placeholder {
    color: #7e7e7e;
}

input.form-control:focus::-webkit-input-placeholder {
    opacity: 0;
}

.form-control:focus {
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgb(0, 180, 199);
}

.form-field input.form-control {
    height: 35px;
}

.form-field.genre {
    padding-left: 50px;
    padding-top: 6px;
}

.form-field.genre label {
    padding-right: 10px;
}

.form-field {
    margin-bottom: 30px;
}

button[type=submit].btn {
    border: 1px solid #cfcfcf;
}

button[type=submit].btn-default:active:hover {
    border-color: #cfcfcf;
}

p.have-account,
p.register,
p.forgot-password {
    text-align: center;
    margin-top: 15px;
}

p.have-account a,
p.register a,
p.forgot-password a {
    color: #00B4C7;
    font-weight: bold;
    text-decoration: none;
}

p.have-account {
    margin-top: 105px;
}

p.forgot-password {
    margin-top: 90px;
}

p.have-account a:hover,
p.register a:hover,
p.forgot-password a:hover {
    color: #008d9b;
}

.alert {
    font-weight: bold;
}

.brand.footer-brand .logo {
    height: 40px;
    margin-bottom: 5px;
}

p.reset-message {
    font-size: 1.25em;
}

input.disabled {
    pointer-events: none;
    cursor: default;
    user-select: none;
}

ul.navbar-nav a {
    cursor: pointer;
}

.profile-image-section {
    padding: 0 3px;
    padding-top: 15px;
    border: 1px solid #00B4C7;
    background: #fbfbfb;
    border-radius: 5px;
    box-shadow: 10px 10px 30px -14px rgba(0,0,0,0.75);
}

img.profile-img {
    width: 100%;
    border: 1px solid #D0D0D0;
}

.bold {
    font-weight: bold;
}

.disclaimer {
    margin-top: 15px;
    font-style: italic;
    font-size: 0.9em;
}

form .btn.manage-btn {
    font-size: 15px;
    padding: 5px 10px;
    margin-top: 10px;
    width: 150px;
}

    form .btn.manage-btn:first-of-type {
        margin-right: 20px;
    }

/*.profile-image-buttons {
    display: flex;
    justify-content: space-between;
}*/

.btn.upload-btn {
    background-color: #00B4C7;
    border-color: #008391;
    color: white !important;
}

.btn.btn-default:hover {
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgb(0, 180, 199);
}

.btn.btn-default.hvr-red:hover {
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px red;
}

.btn.upload-btn:hover {
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgb(120, 120, 120);
    background-color: rgba(0, 180, 199, 0.85) !important;
}

.navbar-profile-image {
    position: relative;
    left: 13px;
    display: inline-block;
    /*position: absolute;
    right: 135px;*/
    /*left: 77.5%;*/
    /*display: inline-block;
    position: absolute;
    right: 7%;
    top: 0;*/
}

.nav > li > a.profile-link {
    display: inline-block;
}

.navbar-profile-image img {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: 1px solid #D0D0D0;
    /*margin-top: 2.5px;*/
}

nav.navbar .container {
    position: relative;
}

img.img-responsive {
    display: inline-block;
}

@media all and (max-width: 1200px) {
    /*.navbar-profile-image {
        left: 73%;
    }*/
}

@media all and (max-width: 1000px) {
    section.profile-image-section {
        text-align: center;
        padding-top: 10px 0 0 0;
    }

    img.profile-img {
        width: 75%;
    }
}

@media all and (max-width: 992px) {
    /*.navbar-profile-image {
        left: 65%;
    }*/

    .profile-details-section {
        margin-top: 30px;
    }
}

@media all and (max-width: 767px) {
    a.navbar-brand {
        margin-left: 3%;
        margin-right: 0px;
    }

    /*li.navbar-profile-image {
        position: absolute;
        top: 2px;
        right: 70px;
    }*/

    .navbar-profile-image {
        display: none;
    }

    /*.navbar-profile-image {
        position: initial;
        display: flex;
        justify-content: flex-end;
    }

    .navbar-profile-image img {
        margin-right: 10px;
    }*/
}

@media all and (max-width: 530px) {
    a.footer-brand {
        display: block;
    }

    body a.brand {
        margin-right: 0;
    }
}

@media all and (max-width: 393px) {
    form .btn.manage-btn:first-of-type {
        margin-right: 0;
    }

    form .btn.manage-btn {
        width: 200px;
        height: 40px;
        font-size: 1.1em;
    }

    .disclaimer {
        font-size: 1em;
    }

    button.navbar-toggle {
        margin-right: 5px;
    }

    /*.navbar-profile-image img {
        margin-right: 5px;
    }*/
}

@media all and (max-width: 346px) {
    body a.brand.navbar-brand {
        height: 50px;
    }

    body a.brand.footer-brand {
        height: 50px;
    }

    /*.navbar-profile-image img {
        width: 45px;
        height: 45px;
    }*/

    a.navbar-brand {
        margin-left: 1%;
    }
}

@media all and (max-width: 315px) {
    body a.brand.navbar-brand {
        margin-left: 2%;
        height: 45px;
        line-height: 38px;
    }
}

.profile-details-section {
    letter-spacing: 1px;
}

.profile-details-section div.user-name {
    color: #00B4C7;
    font-size: 2.5em;
    font-weight: bold;
    font-family: cursive;
}

.profile-details-section .contact-info {
    padding: 25px 0;
}

.profile-details-section .role {
    text-transform: uppercase;
    font-size: 0.8em;
    color: red;
    font-weight: bold;
}

.profile-details-section .contact-info h1,
label.input-label {
    text-transform: uppercase;
    color: #aeacac;
    font-size: 0.9em;
    font-weight: bold;
    letter-spacing: 2px;
}

.profile-details-section .contact-info div {
    margin-top: 15px;
}

.profile-details-section .contact-info div label {
    width: 125px;
}

.profile-details-section .contact-info div label:first-letter {
    text-transform: capitalize;
}

div.profile-data {
    display: flex;
    /*align-items: center;*/
}

.profile-actions-section {
    padding-top: 15px;
    border: 1px solid #00B4C7;
    background: #fbfbfb;
    border-radius: 5px;
    box-shadow: 10px 10px 30px -14px rgba(0,0,0,0.75);
    display: table;
    padding: 5px 10px;
    width: 170px;
}

.profile-actions-section .heading-actions {
    color: black;
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 2px;
    margin-left: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.profile-actions-section ul {
    list-style: none;
    padding: 0;
    /*display: inline-block;*/
}

.profile-actions-section ul li.profile-action {
    margin-bottom: 10px;
    font-size: 0.75em;
}

li.profile-action a {
    text-transform: capitalize;
    color: black;
    background-color: #f0f0f0;
    border-radius: 20px;
    display: block;
    padding: 0px 18px;
    padding-bottom: 2px;
}

li.profile-action a::before {
    font-family: "FontAwesome";
    content: '@';
    color: #7e7e7e;
    font-size: 15px;
    position: relative;
    right: 8px;
    top: 2px;
}

li.profile-action a.edit-icon::before {
    content: "\f044";
}

li.profile-action a.password-icon::before {
    content: "\f023";
}

li.profile-action a:hover {
    box-shadow: 0px 0px 0px 1px rgba(148,148,148,1);
}

a:hover, a:focus {
    text-decoration: none;
}

label.genre-edit {
    position: relative;
    right: 50px;
}

div.form-field.edit::before {
    top: 28px;
}

label.input-label {
    font-weight: 400;
}