﻿body {
    padding-top: 80px;
    padding-bottom: 20px;
    background-color: #fbfbfb;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 80px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.heading {
    margin-bottom: 15px;
}

div.form-group,
input.form-control {
    font-size: 15px;
}

form div.form-group input.form-control {
    padding-left: 50px;
    border: 1px solid #cfcfcf;
    outline: none;
    background-color: #F0F0F0;
    color: black;
    font-weight: bold;
}

hr {
    border-top: 3px solid #eee;
}

.heading {
    font-weight: bold;
}

.field-validation-error {
    display: block;
    width: 100%;
    margin: 2px 0px;
    border: 1px solid #ffcacd;
    background-color: #ffeeef;
    padding: 5px 10px;
    padding-left: 15px;
    color: #000000;
    border-radius: 4px;
}

form .btn {
    font-size: 15px;
    padding: 10px 50px;
    background-color: #F0F0F0;
    border: 1px solid #D0D0D0;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
    box-shadow: 3px 3px 5px #f0f0f0;
    outline: none !important;
}

body nav.navbar {
    background-color: white;
    box-shadow: 0px 2px 30px -7px rgba(0, 0, 0, 0.75);
    border: 0;
}

body a.brand {
    height: 55px;
    padding: 5px 0px;
    margin-right: 35px;
    user-select: none;
}

    body a.brand:hover {
        pointer-events: none;
    }

a .logo {
    max-height: 100%;
}

    a .logo:hover {
        opacity: 0.7;
        pointer-events: auto;
        cursor: pointer;
    }

body div.navbar-header:hover {
    pointer-events: none;
}

.navbar-inverse .navbar-nav > li > a {
    color: black;
    text-transform: uppercase;
}

ul.navbar-nav {
    margin-top: 2px;
    font-weight: bold;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: #00b4c7;
}

div.form-field {
    position: relative;
}

    div.form-field::before {
        font-family: "Font Awesome 5 Free";
        content: '@';
        font-weight: 600;
        color: #7e7e7e;
        font-size: 23px;
        position: absolute;
        left: 15px;
        top: 1px;
    }

    div.form-field.email-icon::before {
        content: "\f0e0";
    }

    div.form-field.universal-icon::before {
        content: "\f192";
    }

    div.form-field.genre-icon::before {
        font-weight: bold;
        content: "\f224";
    }

    div.form-field.user-icon::before {
        content: "\f007";
    }

    div.form-field.calendar-icon::before {
        content: "\f133";
    }

    div.form-field.password-icon::before {
        content: "\f023";
    }

    div.form-field.birthday-icon::before {
        content: "\f073";
    }

    div.form-field.music-icon::before {
        content: "\f001";
    }

input.form-control::-webkit-input-placeholder {
    color: #7e7e7e;
}

input.form-control:focus::-webkit-input-placeholder {
    opacity: 0;
}

.form-control:focus {
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgb(0, 180, 199);
}

.form-field input.form-control {
    height: 35px;
}

.form-field.genre {
    padding-left: 50px;
    padding-top: 6px;
}

    .form-field.genre label {
        padding-right: 10px;
    }

.form-field {
    margin-bottom: 30px;
}

button[type=submit].btn {
    border: 1px solid #cfcfcf;
}

button[type=submit].btn-default:active:hover {
    border-color: #cfcfcf;
}

p.have-account,
p.register,
p.forgot-password {
    text-align: center;
    margin-top: 15px;
}

    p.have-account a,
    p.register a,
    p.forgot-password a {
        color: #00B4C7;
        font-weight: bold;
        text-decoration: none;
    }

p.have-account {
    margin-top: 105px;
}

p.forgot-password {
    margin-top: 90px;
}

    p.have-account a:hover,
    p.register a:hover,
    p.forgot-password a:hover {
        color: #008d9b;
    }

.alert {
    font-weight: bold;
}

.brand.footer-brand .logo {
    height: 40px;
    margin-bottom: 5px;
}

p.reset-message {
    font-size: 1.25em;
}

input.disabled {
    pointer-events: none;
    cursor: default;
    user-select: none;
}

ul.navbar-nav a {
    cursor: pointer;
}

.profile-image-section {
    padding: 0 3px;
    padding-top: 15px;
    border: 1px solid #00B4C7;
    background: #fbfbfb;
    border-radius: 5px;
    box-shadow: 10px 10px 30px -14px rgba(0,0,0,0.75);
}

img.profile-img {
    width: 100%;
    border: 1px solid #D0D0D0;
}

.bold {
    font-weight: bold;
}

.disclaimer {
    margin-top: 15px;
    font-style: italic;
    font-size: 0.9em;
}

form .btn.manage-btn {
    font-size: 15px;
    padding: 5px 10px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.btn.upload-btn {
    background-color: #00B4C7;
    border-color: #008391;
    color: white !important;
}

.btn.btn-default:hover {
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgb(0, 180, 199);
}

.btn.btn-default.hvr-red:hover {
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px red;
}

.btn.btn-default.hvr-green:hover {
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px #00ff00;
}

.btn.upload-btn:hover {
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgb(120, 120, 120);
    background-color: rgba(0, 180, 199, 0.85) !important;
}

.navbar-profile-image {
    position: relative;
    left: 13px;
    display: inline-block;
    /*position: absolute;
    right: 135px;*/
    /*left: 77.5%;*/
    /*display: inline-block;
    position: absolute;
    right: 7%;
    top: 0;*/
}

.nav > li > a.profile-link {
    display: inline-block;
}

.navbar-profile-image img {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: 1px solid #D0D0D0;
    /*margin-top: 2.5px;*/
}

nav.navbar .container {
    position: relative;
}

img.img-responsive {
    display: inline-block;
}

.profile-details-section {
    letter-spacing: 1px;
}

    .profile-details-section div.user-name {
        color: #00B4C7;
        font-size: 2.5em;
        font-weight: bold;
        font-family: cursive;
    }

    .profile-details-section .contact-info {
        padding: 25px 0;
    }

    .profile-details-section .role {
        text-transform: uppercase;
        font-size: 0.8em;
        color: red;
        font-weight: bold;
    }

    .profile-details-section .contact-info h1,
    label.input-label {
        text-transform: uppercase;
        color: #aeacac;
        font-size: 0.9em;
        font-weight: bold;
        letter-spacing: 2px;
    }

    .profile-details-section .contact-info div {
        margin-top: 15px;
    }

        .profile-details-section .contact-info div label {
            width: 125px;
        }

            .profile-details-section .contact-info div label:first-letter {
                text-transform: capitalize;
            }

div.profile-data {
    display: flex;
}

.profile-actions-section {
    padding-top: 15px;
    border: 1px solid #00B4C7;
    background: #fbfbfb;
    border-radius: 5px;
    box-shadow: 10px 10px 30px -14px rgba(0,0,0,0.75);
    display: table;
    padding: 5px 10px;
    width: 170px;
    min-width: 150px;
}

    .profile-actions-section .heading-actions {
        color: black;
        font-size: 1em;
        font-weight: bold;
        letter-spacing: 2px;
        margin-left: 15px;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .profile-actions-section ul {
        list-style: none;
        padding: 0;
        /*display: inline-block;*/
    }

        .profile-actions-section ul li.profile-action {
            margin-bottom: 10px;
            font-size: 0.75em;
        }

li.profile-action a {
    text-transform: capitalize;
    color: black;
    background-color: #f0f0f0;
    border-radius: 20px;
    display: block;
    padding-left: 18px;
    padding-bottom: 2px;
}

    li.profile-action a::before {
        font-family: "Font Awesome 5 Free";
        content: '@';
        color: #7e7e7e;
        font-size: 15px;
        position: relative;
        right: 8px;
        font-weight: 600;
    }

    li.profile-action a.edit-icon::before {
        content: "\f044";
    }

    li.profile-action a.password-icon::before {
        content: "\f023";
    }

    li.profile-action a:hover {
        box-shadow: 0px 0px 0px 1px rgba(148,148,148,1);
    }

a:hover, a:focus {
    text-decoration: none;
}

label.genre-edit {
    position: relative;
    right: 50px;
}

div.form-field.edit::before {
    top: 27px;
}

label.input-label {
    font-weight: 400;
    width: 100%;
}

p.disclaimer.song {
    margin: 0;
}

.jumbotron {
    padding: 0;
    margin: 0;
    padding-right: 15px !important;
    padding-left: 15px !important;
    background-color: #f5f5f5;
    border: 1px solid #00b4c7;
    border-radius: 0;
}

a.song-heading-text {
    color: black;
    font-size: 1.3em;
    font-weight: bold;
    margin-right: 5px;
}

a.song-heading-text, audio {
    display: inline-block;
    vertical-align: middle;
    /*padding-right: 15px;*/
}

audio {
    background-color: #f3f3f3;
    border-radius: 50px;
    border: 1px solid #cfcfcf;
}

div.song-heading {
    padding-bottom: 10px;
    display: inline-block;
    vertical-align: middle;
    width: 55%;
    max-width: 55%;
}

.song-uploader small {
    font-weight: bold;
}

.song-metadata small {
    color: #707070;
    position: relative;
}

li.list-group-item.song-listing {
    padding-bottom: 0;
    margin-bottom: 10px;
    border-radius: 6px;
    transition: all 0.5s ease;
}

.song-listing:hover {
    background-color: #ebeaea;
    border: 1px solid silver;
}

li a.upload {
    border: 1px solid #c0c0c0;
    border-radius: 10px;
    padding: 0;
    margin-top: 9px;
    padding: 6px 5px 6px 30px;
    color: #00B4C7 !important;
    position: relative;
}

    li a.upload:hover {
        border-color: #7e7e7e;
    }

    li a.upload::before {
        font-family: "Font Awesome 5 Free";
        content: "\f093";
        color: #00B4C7;
        font-size: 15px;
        position: absolute;
        left: 10px;
        top: 5px;
    }

ul.song-actions {
    display: inline;
    padding: 0;
}

.btn.btn-default.hvr-warning:hover {
    box-shadow: inset 0 1px 4px rgba(0,0,0,.085), 0 0 11px #ffa200;
}

li.song-action {
    display: inline-block;
}

    li.song-action a {
        padding: 0;
        text-transform: capitalize;
        color: black;
        background-color: #F1F3F4;
        border-radius: 20px;
        display: inline-block;
        border-color: #949494;
        padding-bottom: 2px;
        width: 65px;
        font-size: 0.80em;
    }

        li.song-action a::before {
            font-family: "Font Awesome 5 Free";
            content: '@';
            color: #7e7e7e;
            font-size: 14px;
            position: relative;
            right: 2px;
            font-weight: 600;
        }

        li.song-action a.edit-icon::before {
            content: "\f044";
        }

        li.song-action a.delete-icon::before {
            content: "\f1f8";
        }

.audio-table {
    line-height: 60px;
}

    .audio-table audio {
        width: 250px;
        height: 35px;
    }

table {
    width: 100%;
}

    table.songs td {
        text-align: center;
    }

    table.songs song-published-date,
    table.songs song-uploader {
        font-size: 0.95em;
    }

    table.songs a.song-heading-text {
        font-size: 1em;
    }

.times,
.check,
.song-edit {
    border-radius: 50%;
    background-color: #F1F3F4;
    width: 50px;
    height: 50px;
}

    .times i,
    .check i,
    .edit i {
        font-size: 25px;
        color: #CCCCCC;
        margin-top: 5px;
    }

    .times i {
        font-size: 27px;
    }

    .times:hover i {
        color: #ff7a7a;
    }

    .check i {
        margin-top: 6px;
    }

    .check:hover i {
        color: #82ff82;
    }

.edit:hover i {
    color: #ffc052;
}

div.song-data {
    text-align: left;
}

table th {
    text-align: center;
    padding: 8px;
    border-bottom: 2px solid #ddd;
}

table.table > thead > tr > th {
    font-size: 1.1em;
}

table tr > td {
    padding: 10px 0 2px 0;
}

table.table-hover > tbody > tr:hover {
    background-color: #EBEAEA;
}

.times.role,
.check.role {
    width: 47px;
    height: 47px;
}


    .check.role i {
        font-size: 23px;
        margin-top: 4px;
    }

    .times.role i {
        position: relative;
        top: -1px;
        font-size: 25px;
    }

.check-reverse:hover i {
    color: #ff7a7a;
}

.times-reverse:hover i {
    color: #82ff82;
}

form .btn.check,
form .btn.times {
    padding: 6px 12px;
    border-radius: 50%;
    margin-top: 0;
    box-shadow: none;
}

table.users tr > td {
    padding: 8px;
    line-height: 45px;
    text-align: center;
}

form.search {
    border-color: #C0C0C0;
}

form.search-menu-item {
    display: inline-block;
    margin-top: 11px;
    float: left;
}

.search div {
    position: relative;
}

form.search input {
    border-radius: 30px;
    border-color: #C0C0C0;
}

form.search-menu-item input {
    width: 200px;
}

.search div button {
    position: absolute;
    top: 7px;
    left: 165px;
    background: transparent;
    border: none;
    outline: none;
}

form.search input::placeholder {
    color: #BFC3C6;
    font-size: 0.9em;
    font-weight: bold;
}

.search i {
    color: #C0C0C0;
}

    .search i:hover {
        color: #00B4C7;
    }

form.search-page-item {
    width: 500px;
    margin: 0 auto;
    display: block;
    margin-bottom: 21px;
}

    form.search-page-item input {
        font-size: 1.5em;
        height: 40px;
    }

    form.search-page-item button {
        left: 463px;
        top: 10px;
    }

.search-page-item i {
    font-size: 1.4em;
}

div.no-match {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5em;
}

div.in .open .dropdown-menu > li > a:hover {
    color: #00b4c7 !important;
}

.pagination li.disabled {
    pointer-events: none;
}

div.uploaded-songs {
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

    div.uploaded-songs button {
        background-color: #F0F0F0;
        font-size: 1.2em;
    }

table.user-songs > thead > tr > th,
table.user-songs > thead > tr > td {
    text-align: left;
}

@media all and (max-width: 1200px) {
    table .songs td.col-md-9 {
        width: 70%;
    }

    table.songs td.col-md-3 {
        width: 30%;
    }

    audio {
        margin-bottom: 5px;
        width: 40%;
    }

    .audio-table audio {
        width: 100%;
    }

    ul.song-actions {
        display: inline-block;
        width: 170px;
    }
}

@media all and (max-width: 1067px) {
    form.search-menu-item {
        display: none;
    }
}

@media all and (max-width: 1000px) {
    section.profile-image-section {
        text-align: center;
        padding-top: 10px 0 0 0;
    }

    img.profile-img {
        width: 75%;
    }
}

@media all and (max-width: 992px) {
    /*.navbar-profile-image {
        left: 65%;
    }*/
    .profile-details-section {
        margin-top: 30px;
    }

    table.songs {
        font-size: 1.1em;
    }

        table.songs td.col-md-9 {
            width: 50%;
        }

        table.songs div.song-data {
            display: block;
            width: 100%;
        }

        table.songs div.audio-table {
            display: block;
            width: 70%;
        }
}

@media all and (max-width: 865px) {
    .nav > li.dropdown > a {
        padding: 15px 8px;
    }
}

@media all and (max-width: 833px) {
    nav.navbar .container {
        font-size: 12px;
    }

    .nav > li > a {
        padding: 15px 10px;
    }

    li a.upload {
        padding: 6px 5px 6px 30px;
    }
}


@media all and (max-width: 767px) {
    a.navbar-brand {
        margin-left: 3%;
        margin-right: 0px;
    }

    .navbar-profile-image {
        display: none;
    }

    table.songs {
        border: none;
    }

    div.in .search-menu-item {
        display: block;
        float: none;
    }

        div.in .search-menu-item input {
            width: 100%;
        }

        div.in .search-menu-item input,
        div.in .search-menu-item i {
            font-size: 1.5em;
        }

        div.in .search-menu-item button {
            left: calc(100% - 45px);
            top: 7px;
        }

    div.in li a.upload {
        margin: 0;
        width: 125px;
        margin-left: 10px;
        margin-bottom: 5px;
    }

    div.in .open .dropdown-menu > li > a {
        color: black !important;
        font-weight: 600;
    }

    nav li a {
        font-size: 1.5em;
    }

    nav .dropdown-menu li a {
        font-size: 1.25em;
    }
}

@media all and (min-width: 768px) {
    nav div.container {
        width: 99%;
    }
}

@media all and (max-width: 630px) {
    .container div.profile-data {
        display: block;
    }

    .profile-actions-section {
        width: 75%;
        font-size: 1.5em;
        text-align: center;
        margin: 0 auto;
    }

    table.songs div.audio-table audio {
        width: 250px;
    }

    form.search-page-item {
        max-width: 95%;
    }

        form.search-page-item button {
            left: calc(100% - 45px);
        }
}

@media all and (max-width: 530px) {
    a.footer-brand {
        display: block;
    }

    body a.brand {
        margin-right: 0;
    }

    table.songs div.col-md-8 {
        padding-left: 0;
        padding-right: 0;
    }

    table.songs div.col-md-6 {
        padding-left: 10px;
        padding-right: 10px;
    }

    a.times,
    a.check,
    a.edit {
        display: block;
        margin: 0 auto;
        margin-bottom: 5px;
    }

    table.songs div.audio-table {
        width: 100%;
    }

        table.songs div.audio-table audio {
            width: 100%;
        }
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
    color: #00b4c7;
    border-radius: 5px;
    background-color: transparent;
}

@media all and (max-width: 420px) {
    audio {
        text-align: center;
        width: 100%;
    }

    div.song-heading {
        padding-bottom: 0;
        width: 100%;
        max-width: 100%;
    }

    li.song-action a {
        width: 75px;
    }

    div.uploaded-songs {
        display: none;
    }
}

@media all and (max-width: 393px) {
    form .btn.manage-btn:first-of-type {
        margin-right: 0;
    }

    form .btn.manage-btn {
        width: 200px;
        height: 40px;
        font-size: 1.1em;
    }

    .disclaimer {
        font-size: 1em;
    }

    button.navbar-toggle {
        margin-right: 5px;
    }

    /*.navbar-profile-image img {
        margin-right: 5px;
    }*/
}

@media all and (max-width: 346px) {
    body a.brand.navbar-brand {
        height: 50px;
    }

    body a.brand.footer-brand {
        height: 50px;
    }

    /*.navbar-profile-image img {
        width: 45px;
        height: 45px;
    }*/

    a.navbar-brand {
        margin-left: 1%;
    }
}

@media all and (max-width: 315px) {
    body a.brand.navbar-brand {
        margin-left: 2%;
        height: 45px;
        line-height: 38px;
    }
}

/*HOVER*/

@keyframes hvr-back-pulse {
    50% {
        background-color: rgba(210, 210, 224, 0.85);
    }
}

.hvr-back-pulse {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    overflow: hidden;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
}

    .hvr-back-pulse:hover, .hvr-back-pulse:focus, .hvr-back-pulse:active {
        -webkit-animation-name: hvr-back-pulse;
        animation-name: hvr-back-pulse;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-delay: 0.5s;
        animation-delay: 0.5s;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        /*box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgb(0, 180, 199);*/
        outline: none !important;
    }
