@using Microsoft.AspNetCore.Identity
@using Mp3MusicZone.Web.ViewModels

@inject ISignInService SignInService
@inject IUserService UserService

@if (SignInService.IsSignedIn(User))
{
    var user = await UserService.GetUserAsync(User);

    string imageSrc = user.ProfileImage == null ?
        "../images/NoImage.png"
        : string.Format("data:{0};base64,{1}",
            "image/*",
            Convert.ToBase64String(user.ProfileImage));

    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" name="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            @*<li class="navbar-profile-image">
                <img src="@imageSrc" class="img-circle" />
            </li>*@

            <li>
                <div class="navbar-profile-image">
                    <img src="@imageSrc" class="img-circle" />
                </div>
                <a asp-area="" asp-controller="Manage" asp-action="Profile" title="Manage Profile" class="profile-link">@UserService.GetUserName(User)</a>
            </li>

            <li>
                <a onclick="document.logoutForm.submit()" title="Logout">Logout</a>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="" asp-controller="Account" asp-action="Register">Register</a></li>
        <li><a asp-area="" asp-controller="Account" asp-action="Login">Login</a></li>
    </ul>
}
